.stories {
	width: 100%;
	display: flex;
	margin: auto;
	// background-color: white;
	height: 7rem;
	max-width: 35rem;
	justify-content: center;
	// padding: 0px 0.5rem 0px 0.5rem;
}

.stories_loader {
	width: 100%;
	display: flex;
	margin: auto;
	background-color: white;
	height: 7rem;
	max-width: 35rem;
}

.images {
	width: 95%;
	display: flex;
	flex-direction: row;
	// justify-content: center;
	column-gap: 1rem;
	text-align: center;
	cursor: pointer;
	overflow: auto;
	scroll-behavior: smooth;
	height: fit-content;
}

.stories-list {
	display: flex;
	align-items: center;
	list-style: none;
	max-width: 100%;
	overflow-x: scroll;
	scroll-behavior: smooth;
	gap: 10px;
	padding: 0px;
	&::-webkit-scrollbar {
		background: transparent; /* make scrollbar transparent */
		-webkit-appearance: none;
		width: 0;
		height: 0;
	}

	img {
		width: 3.5rem;
		height: 3.5rem;

		mix-blend-mode: multiply;
		border-radius: 50%;

		background: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%))
			border-box;
		border: medium solid transparent;
		object-fit: cover;
	}

	p {
		margin: 0px;
		overflow: hidden;
		text-overflow: ellipsis;
		font-size: 0.8rem;
		max-width: 65px;
		text-align: center;
		color: black;
	}
}

.navButton {
	border: 0;
	color: #777;
	font-size: 24px;
	margin: 0 8px;
	height: 25px;
	cursor: pointer;
	background: rgb(255 255 255 / 79%);
	border-radius: 50%;
	z-index: 10;
	padding: 0.5rem 0.5rem 2rem 0.5rem;
	margin: auto 1rem;
}

.navButton:hover {
	background: #fff;
}

.leftNavigate,
.rightNavigate {
	position: relative;
	transform: translate(0%, -85%);
	z-index: 5;
}

.next,
.prev {
	margin: auto;
}

.leftNav {
	position: absolute;
	left: 0;
	top: 10rem;
	transform: translateY(-50%);
}
.rightNav {
	position: absolute;
	right: 0;
	top: 10rem;
	transform: translateY(-50%);
}

@media only screen and (max-width: 1000px) {
	.stories {
		width: 100%;
	}
	.navButton {
		background: rgb(255 255 255 / 79%);
		padding: 10px;
		border-radius: 50%;
		z-index: 5;
		padding: 0.5rem 0.5rem 2rem 0.5rem;
		margin: auto 1rem;
	}
}
